version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    ignore:
      # These have large downstream ramifications. So, we pin these packages and are strategic about when we upgrade.
      - dependency-name: "@aws-sdk/*"
      # We will update major versions @types/node when Lambda function runtimes change
      - dependency-name: "@types/node"
        update-types: [ "version-update:semver-major" ]
      # Jumping major versions of eslint needs to be handled manually
      - dependency-name: "@eslint"
        update-types: [ "version-update:semver-major" ]
      - dependency-name: "@eslint/js"
        update-types: [ "version-update:semver-major" ]
