version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    ignore:
      # These have large downstream ramifications. So, we pin these packages and are strategic about when we upgrade.
      - dependency-name: "@aws-sdk/*"
