@import 'tailwindcss';
@import 'tailwindcss-animated';
@plugin 'daisyui' {
  themes: all;
}

.input:focus,
select:focus,
textarea:focus {
  outline: none;
  outline-offset: 0;
}

.input:focus-within,
select,
textarea {
  outline: none;
}
