on:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:
name: publish
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  publish:
    uses: nr1etech/github-workflows/.github/workflows/javascript-library.yml@develop
    if: github.actor != 'dependabot[bot]'
    with:
      develop-preid: 'beta'
      branch-preid: 'alpha'
    secrets:
      app-id: ${{ secrets.RELEASE_BOT_ID }}
      private-key: ${{ secrets.RELEASE_BOT_KEY }}
